html {
	height: 100%;
	width: 100%;        

}

body {
	width: 100%;
	margin: 0px;
}

a:link {
	color: #3366CC;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
}
a {	font-weight: bold;}
a:visited {	color: #3399CC;	text-decoration: none;}
a:hover {color: #000099;text-decoration: none;}
a:active {
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	color: #208aca;
}
A.clase1:visited {color:#FFFFFF; text-decoration: none;}
A.clase1:active {color:#FFFFFF;text-decoration: none;}
A.clase1:link {color:#FFFFFF; text-decoration: none;}
A.clase1:hover {color:#CCCCCC; text-decoration: none;}
A.clase1{font-weight: bold; }

A.clase2:visited {color:#900; text-decoration: none;}
A.clase2:active {color:#039;text-decoration: none;}
A.clase2:link {color:#900; text-decoration: underline;}
A.clase2:hover {
	color:#C00;
	text-decoration: blink;
	font-size: 13px;
}
A.clase2{font-weight: bold;}
A.clase2{
	font-size: 14px;
}
	
.hum {color: #FFFFFF}
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {font-size: 19px;}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {font-size: 14px;}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {
	font-size: 13px;
	font-family: Arial,Helvetica,Sans-Serif;
	font-style: normal;
	font-weight: normal;
}

/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.textTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#text4 b {
	font-size: 1.25rem;
}

.header-banner {
	margin: 10px 0;
	height: 6rem;
	display: flex;
	flex-direction: row;
	gap: 50px;
	align-items: center;
	justify-content: center;
}

.header-banner img {
	height: 100%;
	object-fit: contain;
}

.panel-principal {
	display: flex; 
	flex-direction: row
}

.panel-izquierdo {
	display: flex; 
	flex-direction: column;
	align-items: center
}

.panel-central {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	gap: 10px;
}

.panel-derecho {
	display: flex;
	flex-direction: column;
	align-items: center
}

.panel-central-interior {
	display: flex; 
	flex-direction: row
}

.slider-prev,
.slider-next {
  display: none;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.sidebar-active {
  width: 45%;
}

.sidebar-btn {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
	display: none;
}

.sidebar .sidebar-btn {
	display: flex;
	margin: 3vw 1rem 0 1rem;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.sidebar-container > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  font-size: 3vw;
  font-weight: bold;
}

.sidebar-container > section a {
  color: #3399CC;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-style: normal;
  font-size: 3vw;
}

/* STOCK CONTAINER */
.stock-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-container-header {
  background-color: rgb(0, 153, 255);
  color: #fff;
  text-align: center;
	padding: 5px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.product-description a {
  text-decoration: none;
  color: #3399CC;
  font-weight: bold;
	font-size: 1rem;
}

.product-box img {
  width: 100%;
  height: auto;
}

@media (max-width: 1082px) {
  .panel-izquierdo {
		display: none;
	}
}

@media screen
  and (max-device-width: 480px)
  and (orientation: portrait),
	(max-width: 918px) {
		.wpmd {
			font-size: 1.5rem;
			font-family: Arial,Helvetica,Sans-Serif;
			font-style: normal;
			font-weight: normal;
		}
		.ws11 {
			font-size: x-large
		}
		.ws12 {
			font-size: x-large
		}

		.header-banner {
			padding: 0 20px;
			margin: 10px 0;
			height: 12vw;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			box-sizing: border-box;
		}

		.header-banner img {
			width: fit-content;
			object-fit: contain;
		}

		.header-banner button {
			flex-shrink: 0;
		}

		#text12 a, #text12 b {
			font-size: 2rem;
		}

		#buscar-input {
			font-size: 1.5rem;
			width: 80%;
			height: 3rem;
			margin-left: 5px;
		}

		#buscar-btn {
			font-size: 1.5rem;
			height: 3rem;
		}

		#text4 b {
			font-size: 2rem;
		}

		.panel-principal {
			display: flex; 
			flex-direction: column;
			width: -webkit-fill-available;
		}

		.panel-principal .panel-izquierdo, .panel-principal .panel-derecho {
			display: none;
		}

		.panel-central {
			display: flex;
			flex-direction: column; 
			gap: 10px;
			padding: 0 20px;
		}

		.panel-central-interior {
			display: flex; 
			flex-direction: column-reverse;
		}

		/* SLIDER */
		
    .slider-wrapper {
      position: relative;
      width: 80%;
      margin: 0 auto;
    }
    
    .slider {
      display: flex;
      padding-top: 20px;
      aspect-ratio: 1/1;
      overflow-x: auto;
      overflow: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      border-radius: 0.5rem;
			animation: scroll 0s linear infinite;
    }
    
    .slider .slide {
      flex: 1 0 100%;
      scroll-snap-align: start;
			display: flex;
			justify-content: center;
			align-items: center;
    }

		.slide img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
    
    .slider-prev,
    .slider-next {
				display: block;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -100px;
        padding: 16px;
        background-color: rgba(0, 0, 0, 0);
        color: #ddd;
        font-size: 80px;
        font-weight: bold;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    .slider-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .slider-prev:hover,
    .slider-next:hover {
      color: #000;
    }

		.sidebar-btn {
			display: flex;
		}
}